<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- ✅ WAJIB untuk WebView -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dipaflower">

        <!-- 🔥 TUGAS P5 (JADI HALAMAN AWAL) -->
        <activity
            android:name=".tugasp5.FifthActivity"
            android:exported="true">

            <!-- PINDAHAN DARI LOGIN -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- WEBVIEW -->
        <activity
            android:name=".tugasp5.WebViewActivity"
            android:exported="false" />

        <!-- TUGAS P4 -->
        <activity
            android:name=".tugasp4.ScreenActivity"
            android:exported="false" />

        <activity
            android:name=".tugasp4.HalamanActivity"
            android:exported="false" />

        <!-- LOGIN (SUDAH BUKAN HALAMAN AWAL) -->
        <activity
            android:name=".tugasp3.LoginActivity"
            android:exported="false" />

        <!-- DASHBOARD -->
        <activity android:name=".tugasp3.DashboardActivity" />

        <!-- MAIN -->
        <activity android:name=".MainActivity" />

    </application>

</manifest>